<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thomascook.instructorpricecomparison"
          android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/u_drive_logo"
                 android:roundIcon="@drawable/u_drive_logo"
                 android:supportsRtl="true"
                 android:theme="@style/Theme.Application">

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyA-GSAU8_Wbn3KbKCooUKW7xTAtdPWBwwo"/>

        <activity
                android:name=".application.startup.StartupActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Application.Splash"
                android:windowSoftInputMode="adjustPan|stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".application.main.MainActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|stateHidden" />

    </application>
</manifest>
