<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thomascook.instructorpricecomparison">

    <application android:name=".application.DebugApplication">

        <activity android:name="com.thomascook.instructorpricecomparison.application.DebugEmptyActivity" />

    </application>

</manifest>